[Unit]
Description=Gunicorn instance to server my hbnb clone project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app
StandardOutput=file:/tmp/airbnb-access.log
StandardError=file:/tmp/airbnb-error.log

#[Service]
#User=ubuntu
#Group=www-data
#WorkingDirectory=/home/ubuntu/AirBnB_clone_v3
#ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5002 api.v1.app:app
#StandardOutput=file:/tmp/airbnb-access.log
#StandardError=file:/tmp/airbnb-error.log

[Install]
WantedBy=multi-user.target